@page
@model GDVTsmV3.Views.Personas.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Ci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Fecha_Nac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Persona) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Nac)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Persona_Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Persona_Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Persona_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
