@page
@model GDVTsmV3.Views.Empleados.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Persona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Persona.Persona_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Usuario.Contrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empleado?.Empleado_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
